<div id="foot_bg">
  <div id="foot" class="warp">
    <div class="copy">
      <p>电 话：400-123-456 &nbsp;&nbsp; 手 机：13657457767 &nbsp;&nbsp; 传 真：13657457767 &nbsp;&nbsp; E-mail：taoshuwan@163.com</p>
      <p>地 址：山西省晋中市左权县 </p>
      <p>技术支持：admin</p>
    </div>
  </div>
</div>
<div id="foot_nav_bg">
  <div class="warp foot_nav">
    <a href="/">网站首页</a> | 
    <a href="/guanyugongsi">关于公司</a>| 
    <a href="/chanpinhefuwu">产品和服务</a>| 
    <a href="/xinwenzhongxing">新闻中心</a>| 
    <a href="/renliziyuan">人力资源</a> 
  </div>
</div>
<!------------------------->