<div id="top_box">
  <div class="warp">
    <div class="fl"></div>
    <div class="fr">
      <a onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('山西中融恒润房地产开发有限公司');" href="javascript:;">设为首页</a> | 
      <a href="#" onclick="window.external.AddFavorite()">加入收藏</a> | 
      <a href="">联系我们</a></div>
  </div>
</div>
<!------------top END------------>
<div id="header_bg" class="warp">
  <div id="logo"><img src="/public/img/logo.png"></div>
  <div id="tel"><img src="/public/img/tel.png"></div>
</div>
<!------------header END------------>
<div id="menu_bg">
  <div id="menu" class="warp">
    <ul>
      <li class="mainlevel"><a href="/" class="cur">网站首页</a></li>
      <li class="mainlevel"><a href="/guanyugongsi" class="">关于公司</a></li>
      <li class="mainlevel"><a href="/chanpinhefuwu" class="">产品和服务</a></li>
      <li class="mainlevel"><a href="/xinwenzhongxing" class="">新闻中心</a></li>
      <li class="mainlevel"><a href="/renliziyuan" class="">人力资源</a></li>
</div>
